@mixin multi-transition($properties, $duration: 500ms, $timing-function: cubic-bezier(0.4, 0, 0.2, 1), $delay: 0s) {
    $transitions: (
    );

@if type-of($properties)=="list" {
    @each $prop in $properties {
        $transitions: append($transitions, #{$prop} $duration $timing-function $delay, comma);
    }
}

@else {
    $transitions: #{$properties} $duration $timing-function $delay;
}

transition: $transitions;
}

@mixin button($w, $h) {
    border-radius: 10px;
    width: $w;
    height: $h;
    background-color: get-var(hover__first);
    padding: 12px 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-align: center;
    font-size: 24px;
    color: get-var(text__second);
    cursor: pointer;
    @include multi-transition((background-color));

    &:hover {
        background-color: get-var(hover__second);;
    }
}