.main-container {
    background-color: get-var(main__second);
    border-radius: 10px;
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 23px;

    @media screen and (min-width: getBreakPoint(tablet)) {
        padding: 10px 22px;
        margin-bottom: 44px;
    }

    @media screen and (min-width: getBreakPoint(desktop)) {
        padding: 35px 30px;
        margin-bottom: 70px;
    }

    &__title {
        font-size: 32px;
        margin-bottom: 19px;
        font-weight: 500;
        text-align: center;

        @media screen and (min-width: getBreakPoint(tablet)) {
            font-size: 64px;
            margin-bottom: 22px;
            text-align: start;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            font-size: 82px;
            margin-bottom: 36px;
        }
    }

    &__description {
        font-size: 16px;
        color: get-var(text__second);
        margin-bottom: 58px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            font-size: 24px;
            margin-bottom: 33px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            font-size: 28px;
            margin-bottom: 46px;
        }
    }

    &__button {
        @include button(100%, 62px);

        @media screen and (min-width: getBreakPoint(tablet)) {
            @include button(300px, 62px);
            margin-bottom: 17px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            margin-bottom: 0;
        }
    }
}

.second-container {
    margin-bottom: 50px;

    @media screen and (min-width: getBreakPoint(tablet)) {
        display: grid;
        gap: 17px;
        grid-template-areas:
            "a b"
            "a b"
            "c c";
        grid-template-columns: auto;
        grid-template-rows: auto;

        @media screen and (min-width: getBreakPoint(desktop)) {
            grid-template-areas:
                "a b b"
                "a c c";
            row-gap: 30px;
            column-gap: 35px;
        }
    }

    .a {
        @media screen and (min-width: getBreakPoint(tablet)) {
            grid-area: a;
            width: 355px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            width: 375px;
        }
    }

    .b {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: getBreakPoint(tablet)) {
            grid-area: b;
            width: 355px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            width: 750px;
            height: 360px;
        }

        .recent__title {
            margin-bottom: 20px;
        }

        .statistics-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-grow: 1;
            gap: 30px;
            padding: 20px 0;
            font-size: 24px;

            @media screen and (min-width: getBreakPoint(desktop)) {
                text-align: start;
                align-items: start;
            }
        }
    }

    .c {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: getBreakPoint(tablet)) {
            grid-area: c;
            width: 100%;
            height: 355px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            width: 750px;
            height: 360px;
        }
    }

    &__block {
        height: 750px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            margin-bottom: 0;
        }
    }

    .recent {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &__empty {
            font-weight: 500;
            font-size: 18px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
            flex-grow: 1;
        }

        &__title {
            font-size: 32px;
            font-weight: 500;
            text-align: center;
        }

        &__item {
            background-color: get-var(main__first);
            border-radius: 10px;
            padding: 13px 20px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            flex-grow: 0;
            cursor: pointer;
            @include multi-transition((background-color, flex-grow));

            &.is-open {
                flex-grow: 1;

                .recent__topic-name::after {
                    margin-top: 14px;
                }

                .recent__content {
                    max-height: 500px;
                    opacity: 1;
                    margin-top: 22px;
                    transition-delay: 0.2s;
                }

                .recent__topic-name::after {
                    opacity: 1;
                    transform: scaleX(1);
                }
            }
        }

        &__topic-name {
            color: get-var(main__second);
            display: flex;
            flex-direction: column;
            gap: 0px;
            text-align: center;
            font-weight: 500;
            font-size: 40px;
            text-decoration: none;
            @include multi-transition((color, gap));

            &:hover {
                color: get-var(hover__first);
            }

            &::after {
                content: '';
                width: 100%;
                height: 0.5px;
                background-color: #000;
                opacity: 0;
                margin-top: 0;
                transform: scaleX(0);
                transform-origin: center;
                @include multi-transition((opacity, transform));
            }
        }

        &__content {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex-grow: 1;
            @include multi-transition((max-height, opacity, margin-top));
        }

        &__entry-preview {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            color: get-var(main__second);
            font-weight: 500;
            font-size: 18px;
            text-align: center;
        }

        &__date {
            color: get-var(main__second);
            font-weight: 500;
            font-size: 18px;
            text-align: center;
        }
    }
}