{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Learning Log</title>
    <!--! Спочатку нормалізатор -->
    <!--! завантаження modern-normalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
        integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap" rel="stylesheet">

    {% load compress %} {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/main.scss' %}">
    {% endcompress %}

</head>

<body>
    <header class="header">
    <div class="container">
        <nav class="nav">
            <a class="logo" href="{% url 'learning_logs:index' %}">
                Learning Log
            </a>

            <button class="burger-toggle" type="button" id="burgerToggle" aria-label="Toggle navigation">
                <span class="burger-icon-span"></span>
            </button>

            <div class="nav-content" id="navContent">
                <ul class="nav-list">
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="{% url 'learning_logs:topics' %}">
                            Topics
                        </a>
                    </li>
                </ul>

                <div class="block-authenticated">
                    <ul class="block-authenticated-list">
                        {% if user.is_authenticated %}
                        <li class="block-authenticated-list__item">
                            <span class="block-authenticated-list__text">Hello, {{ user.username }}.</span>
                        </li>
                        <li class="block-authenticated-list__item">
                            <form action="{% url 'users:logout' %}" method="post" class="block-authenticated-list__form">
                                {% csrf_token %}
                                <button type="submit" class="block-authenticated-list__button">
                                    Log out
                                </button>
                            </form>
                        </li>
                        {% else %}
                        <li class="block-authenticated-list__item">
                            <a class="block-authenticated-list__link" href="{% url 'users:register' %}">Register</a>
                        </li>
                        <li class="block-authenticated-list__item">
                            <a class="block-authenticated-list__link" href="{% url 'users:login' %}">Log in</a>
                        </li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main role="main" class="container">
        <div class="block_page_header">
            {% block page_header %}{% endblock page_header %}
        </div>
        <div>
            {% block container %}{% endblock container %}
        </div>
    </main>

    {% block js_files %}
    <script src="{% static 'js/burger.js' %}"></script>
    {% endblock js_files %}
</body>

</html>