{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h2>Delete Entry</h2>
{% endblock page_header %}

{% block container %}
  <div class="delete">
    <h2 class="delete__header">Confirm Deletion</h2>
    <div class="delete__body">
      <h3 class="delete__title">Are you sure you want to delete this entry from <span class="delete__title--span">{{ topic.text }}</span>?</h3>
      <blockquote class="delete__entry">
        {{ entry.text|linebreaks }}
      </blockquote>

      <form class="delete__form" action="{% url 'learning_logs:delete_entry' entry.id %}" method="post">
        {% csrf_token %}
        <button class="delete__button" name="submit">Confirm Delete</button>
        <a class="delete__link" href="{% url 'learning_logs:topic' topic.id %}">Cancel</a>
      </form>
    </div>
  </div>
{% endblock container %}