{% extends "learning_logs/base.html" %}

{% block page_header %}
    <div class="page-header">
        <h1 class="page-header__title">Topics</h1>
        
        <form action="{% url 'learning_logs:topics' %}" method="get" class="form">
            <div class="form__group">
                <input name="q" class="form__control" type="search" 
                       placeholder="Search topics..." value="{{ search_query|default:'' }}">
                <div class="form__append">
                    {% if search_query %}
                        <a href="{% url 'learning_logs:topics' %}" class="form__button form__button--clear">Clear</a>
                    {% else %}
                        <button class="form__button" type="submit">Search</button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock page_header %}

{% block container %}
    
    <div class="form__result">
    {% if search_query %}
        <p class="form__result__text">Results for: "<span class="form__result__text--span">{{ search_query }}</span>"</p>
    {% endif %}
    </div>

    <ul class="topics-list">
        {% for topic in topics %}
            <li class="topics-list__item">
                <h3>
                    <a class="topics-list__link" href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                </h3>

                <div class="topic-preview">
                {% with first_entry=topic.entry_set.first %}
                    {% if first_entry %}
                        {{ first_entry.text|truncatechars:250 }}
                    {% else %}
                        <span class="topic-preview__no-entries-text">Create your first entry and it will appear here</span>
                    {% endif %}
                {% endwith %}
                </div>

                <a href="{% url 'learning_logs:delete_topic' topic.id %}" 
                   class="topics-list__delete-link">
                    Delete Topic
                </a>
            </li>
        {% empty %}
            <li class="topics-list__item">
                <h3 class="topics-list__link">
                    {% if search_query %}
                        No topics match your search.
                    {% else %}
                        No topics have been added yet.
                    {% endif %}
                </h3>
            </li>
        {% endfor %}
    </ul>

    <p>
        <a href="{% url 'learning_logs:new_topic' %}" class="add-button">Add a new topic</a>
    </p>
{% endblock container %}