{% extends 'learning_logs/base.html' %}

{% block page_header %}
<div class="page-header__block">
    <h3 class="topic-title">Topic: {{ topic }}</h3>
    <a href="{% url 'learning_logs:new_entry' topic.id %}" class="add-new-entry-button">Add
        new entry</a>
</div>
{% endblock page_header %}

{% block container %}
{% for entry in entries %}
<div class="topic-card">
    <div class="topic-card__header">
        <div class="topic-card__date">
            {{ entry.date_added|date:'M d, Y H:i' }}
        </div>

        <div class="topic-card__control">
            <a href="{% url 'learning_logs:edit_entry' entry.id %}" class="topic-card__edit">
                Edit
            </a>
            <a href="{% url 'learning_logs:delete_entry' entry.id %}" class="topic-card__delete">
                Delete
            </a>
        </div>
    </div>
    <div class="topic-card__body">
        {{ entry.text|linebreaks }}
    </div>
</div>
{% empty %}
<div class="topic-card__empty">
    There are no entries for this topic yet.
</div>
{% endfor %}

{% endblock container %}